APP_NAME=br-korea-poc
APP_ENV=local
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5435/br_korea_poc
EXTERNAL_API_KEY=
SBIZ_API_SNS_ANALYSIS_KEY=
SBIZ_API_STARTUP_WEATHER_KEY=
SBIZ_API_HOTPLACE_KEY=
SBIZ_API_SALES_INDEX_KEY=
SBIZ_API_BUSINESS_DURATION_KEY=
SBIZ_API_STORE_STATUS_KEY=
SBIZ_API_COMMERCIAL_MAP_KEY=
SBIZ_API_DETAIL_ANALYSIS_KEY=
SBIZ_API_DELIVERY_ANALYSIS_KEY=
SBIZ_API_TOUR_FESTIVAL_KEY=
SBIZ_API_SIMPLE_ANALYSIS_KEY=

AI_SERVICE_URL=http://localhost:8001
AI_SERVICE_TOKEN=
